[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "==2.2.10"
pandas = "*"
ipywidgets = "*"
gmaps = "==0.8.0"
python-dotenv = "*"
polyline = "*"

[requires]
python_version = "3.7"
